<table>
  <div class="principal-container" *ngIf="foods">
    <tr>
      <td>
        <dx-data-grid
          id="dataGrid"
          keyExpr="id"
          [dataSource]="foods"
          [showBorders]="true"
          [focusedRowEnabled]="true"
          [hoverStateEnabled]="true"
          (onCellClick)="getDataFromRowSelected($event)"
          [noDataText]="'No hay datos guardados'"
          [focusedRowIndex]="rowFocus"
          #lista
        >
          <!--columnas fijas-->
          <dxi-column dataField="id" caption="ID" [width]="100"></dxi-column>
          <dxi-column
            dataField="nombre"
            caption="Nombre"
            [width]="150"
          ></dxi-column>
          <dxi-column
            dataField="descripcion"
            caption="Descripcion"
            [width]="200"
          ></dxi-column>
          <dxi-column
          dataField="tipocomida"
          caption="Tipo"
          [width]="120"
        ></dxi-column>
          <dxi-column dataField="precio" caption="Precio" [width]="150">
            <dxo-format type="currency" currency="EUR"></dxo-format>
          </dxi-column>
          <dxi-column
            dataField="saludable"
            caption="Saludable"
            [width]="120"
          ></dxi-column>

          <dxo-toolbar>
            <dxi-item location="after">
              <dx-button
                class="icono"
                icon="add"
                (onClick)="addFood()"
                [disabled]="registerForm.dirty"
              >
              </dx-button>
            </dxi-item>
            <dxi-item location="after">
              <dx-button
                icon="trash"
                (onClick)="deleteFood()"
                [disabled]="registerForm.dirty || !data?.id"
              >
                <!--[disabled]="registerForm.invalid"-->
              </dx-button>
            </dxi-item>
            <dxi-item location="after">
              <dx-button
                icon="save"
                (onClick)="saveFoodApi()"
                [disabled]="registerForm.pristine"
                
              >
                <!--[disabled]="registerForm.invalid"-->
              </dx-button>
            </dxi-item>
          </dxo-toolbar>

          <dxo-keyboard-navigation
            [editOnKeyPress]="editOnkeyPress"
            [enterKeyAction]="enterKeyAction"
            [enterKeyDirection]="enterKeyDirection"
          ></dxo-keyboard-navigation>

          <dxo-search-panel
            [visible]="true"
            [width]="250"
            placeholder="Buscar..."
          >
          </dxo-search-panel>
        </dx-data-grid>
      </td>
      <td>
        <div class="container">
          <form [formGroup]="registerForm">
            <h2 class="text-center text-primary">Datos de Comida</h2>
            <hr />
            <!--<label>ID:</label>
        <app-text-input
          #inputFocus
          [formControl]="$any(registerForm.controls['id'])"
          [value]="data?.id"       
        ></app-text-input>-->

            <label>Nombre:</label>
            <app-text-input
              #inputFocus
              [formControl]="$any(registerForm.controls['nombre'])"
              [value]="data?.nombre"
              [activation]="activated"
            ></app-text-input>

            <label>Descripcion:</label>
            <app-text-input
              [formControl]="$any(registerForm.controls['descripcion'])"
              [value]="data?.descripcion"
              [activation]="activated"
            ></app-text-input>

            <label>Tipo de comida:</label>
            <select style="display: block; margin-bottom: 15px;">
              <option>Insertar posibles valores</option>
              <option>...</option>
              <option>...</option>
            </select>

            <label>Precio:</label>
            <input
              type="number"
              [formControl]="$any(registerForm.controls['precio'])"
              [value]="data?.precio"
            />

            <label>Saludable</label>
            <input type="checkbox" class="m-1" formControlName="saludable" />
            <!--se podria añadir al checkbox: [checked]="registerForm.controls['saludable'].value || false"-->

            <button
              type="reset"
            >
              Limpar
            </button>
          </form>

          <!--<p>Form value: {{ registerForm.value | json }}</p>
      <p>Form status: {{ registerForm.status | json }}</p>-->
        </div>
      </td>
    </tr>
  </div>
</table>
